@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #16acea;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

p, input {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 10px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotateandfade {
    from {
        transform: rotate(0deg);
        /*opacity: 0;*/
    }
    to {
        transform: rotate(720deg);
        /*opacity: 1;*/
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.buttons {
    width: 500px;
    height: 500px;
    margin: 10px;
    position: relative;
    transform-origin: 50% 59%;
    animation: rotateandfade 2s;
}

.button {
    width: 200px;
    height: 200px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.circle {
    background-color: #4203c9;
    border-radius: 50%;
    font-size: 5rem;
    transition: 0.1s all ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-tap-highlight-color: transparent;
}

.button:hover {
    transform: scale(1.2)
}

#top-circle {
    position: absolute;
    left: 0;
    right: 0;
    margin: 34px auto;
}

#left-circle {
    position: absolute;
    bottom: 0;
    left: 0;
}

#right-circle {
    position: absolute;
    bottom: 0;
    right: 0;
}

.text {
    color: white;
    font-size: 3rem;
    display: inline;
    font-weight: bold;
}

.action {
    font-size: 2rem;
    line-height: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 200px;
}

.bg-icon {
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    opacity: .2;
}

@media (max-width: 768px) {
    .buttons {
        width: 300px;
        height: 300px;
    }

    .button {
        width: 120px;
        height: 120px;
        font-size: 3rem;
    }

    .action {
        width: 120px;
        height: 120px;
        font-size: 3rem;
    }

    #rock {
        left: 0;
        right: 0;
        margin: 20px auto;
    }

    .text {
        font-size: 2rem;
    }

    .bg-icon {
        font-size: 4rem;
    }
}

i {
    font-size: 2rem;
}

.join {
    margin: 15px;
}

.join__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gamecode {
    padding-top: 10px;

    display: block;
    margin: 1em auto;
    border: none;
    width: 12ch;
    background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/ 11.5ch 2px no-repeat;
    font: 5ch droid sans mono, consolas, monospace;
    letter-spacing: 0.5ch;
    color: rgb(221, 221, 221);
}

.gamecode:focus {
    outline: none;
    color: rgb(221, 221, 221);
}

.join__btn {
    color: white;
    border: 2px solid white;
    font-size: 2rem;
    margin-top: 15px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    transition: .2s all ease;
}

.join__form {
    width: 100%;
}

.join__btn:hover {
    border-color: dimgrey;
    color: dimgrey;
}

.nickname-input {
    width: 100%;
    font-size: 2.5rem;
    box-sizing: border-box;
    color: black;
}

.nickname-input {
    outline: none;
    color: black;
    margin: 10px 0;
}
